<div class="card mt-3">
    <div class="card-header">Neues Textfeld</div>
    <div class="card-body">
        <textarea class="form-control mt-3" type="text" [(ngModel)]="canvas.textString"></textarea>
        <div class="custom-item mt-3 text-center">
            <button id="add-text" data-toggle="tooltip" data-placement="bottom" title="Add text" class="btn btn-primary" (click)="addTextTitle()">
                <i class="fa fa-plus" aria-hidden="true"></i> Titel
            </button><br>
            <button id="add-text" data-toggle="tooltip" data-placement="bottom" title="Add text" class="btn btn-primary mt-2" (click)="addTextSubtitle()">
                <i class="fa fa-plus" aria-hidden="true"></i> SubTitel
            </button><br>
            <button id="add-text" data-toggle="tooltip" data-placement="bottom" title="Add text" class="btn btn-primary mt-2 mb-2" (click)="addText()">
                <i class="fa fa-plus" aria-hidden="true"></i> Text
            </button>
        </div>
    </div>
</div>