<div class="card mt-3">
    <div class="card-header">Logos & Bilder</div>
    <div class="card-body max-height" style="background-color: #e6e6e6;">
        <img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJ_gruen.png" loading="lazy">
        <img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJBB_gruen.png" loading="lazy">
        <img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJ_schwarz.png" loading="lazy">
        <img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJBB_schwarz.png" loading="lazy">
        <img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJ_weiss.png" loading="lazy">
        <img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJBB_weiss.png" loading="lazy">
        <img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/pin.png" loading="lazy">
        <img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/clock.png" loading="lazy">
        <img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/calendar.png" loading="lazy">
    </div>
</div>