<div class="card mt-3">
    <div class="card-header">Custom</div>
    <div class="card-body">
      <div class="custom-item" *ngIf="canvas.selected  && canvas.selected.type == 'group'">Keine Optionen für dieses Item</div>
    <div class="custom-item" *ngIf="!canvas.selected">Keine ausgewählten Items</div>
        <div class="custom-item" *ngIf="canvas.selected && canvas.textEditor || canvas.selected && canvas.figureEditor">
            <div class="custom-item-title">Farbe</div>
            <div class="custom-item-body">
            <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="canvas.props.fill" [style.background]="canvas.props.fill"
                [value]="canvas.props.fill" (colorPickerChange)="setFill()">
            </div>
        </div>
        
        <div class="custom-item" *ngIf="canvas.selected && canvas.textEditor">
            <div class="custom-item-title">Style</div>
            <div class="custom-item-body text-center">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': canvas.props.fontWeight }" (click)="setBold()">
                <i class="fa fa-bold"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': canvas.props.fontStyle }" (click)="setFontStyle()">
                <i class="fa fa-italic"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('underline') }"
                (click)="setTextDecoration('underline')">
                <i class="fa fa-underline"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('overline') }"
                (click)="setTextDecoration('overline')">
                <i class="fa fa-underline fa-flip-vertical"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('line-through') }"
                (click)="setTextDecoration('line-through')">
                <i class="fa fa-strikethrough"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="custom-item" *ngIf="canvas.selected && canvas.textEditor">
            <div class="custom-item-title">Schriftgröße</div>
            <div class="custom-item-body">
            <input type="range" [(ngModel)]="canvas.props.fontSize" (change)="setFontSize()" step="1" min="1" max="120">{{canvas.props.fontSize}}</div>
        </div>
        </div>
    </div>