<div class="container mt-5 mb-5">
	<div class="row">
    <h2>Sharepic Generator - GJ BB</h2>
  </div>
  <div class="row">
	  <div class="col-xl-12">
		  <div class="row">
			  <div class="col-xl-12 text-right">
				  <button data-toggle="tooltip" data-placement="bottom" title="Export to image" type="button" class="btn btn-primary" (click)="rasterize();">
					  <i class="fa fa-download" aria-hidden="true"></i> Bild exportieren</button>
					  <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#helpModal">
						Help ?
					  </button>
				  <button data-toggle="tooltip" data-placement="bottom" title="Clean Canvas" type="button" class="btn ml-2 btn-danger" (click)="confirmClear();">
					  <i class="fa fa-ban" aria-hidden="true"></i> Löschen</button>
			  </div>
		  </div>
	  </div>
  </div>
  <hr>
  <div class="row">
	  <div id="canvasWrapper" class="col-xl-6">
		  <angular-editor-fabric-js #canvas></angular-editor-fabric-js>
		  <div class="card mt-3">
			<div class="card-header">Custom</div>
			<div class="card-body">
			  <div class="custom-item" *ngIf="canvas.selected  && canvas.selected.type == 'group'">Keine Optionen für dieses Item</div>
			<div class="custom-item" *ngIf="!canvas.selected">Keine ausgewählten Items</div>
				<div class="custom-item" *ngIf="canvas.selected && canvas.textEditor || canvas.selected && canvas.figureEditor">
					<div class="custom-item-title">Farbe</div>
					<div class="custom-item-body">
					<input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="canvas.props.fill" [style.background]="canvas.props.fill"
						[value]="canvas.props.fill" (colorPickerChange)="setFill()">
					</div>
				</div>
				
				<div class="custom-item" *ngIf="canvas.selected && canvas.textEditor">
					<div class="custom-item-title">Style</div>
					<div class="custom-item-body text-center">
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': canvas.props.fontWeight }" (click)="setBold()">
						<i class="fa fa-bold"></i>
						</button>
						<button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': canvas.props.fontStyle }" (click)="setFontStyle()">
						<i class="fa fa-italic"></i>
						</button>
						<button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('underline') }"
						(click)="setTextDecoration('underline')">
						<i class="fa fa-underline"></i>
						</button>
						<button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('overline') }"
						(click)="setTextDecoration('overline')">
						<i class="fa fa-underline fa-flip-vertical"></i>
						</button>
						<button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('line-through') }"
						(click)="setTextDecoration('line-through')">
						<i class="fa fa-strikethrough"></i>
						</button>
					</div>
					</div>
				</div>
				<div class="custom-item" *ngIf="canvas.selected && canvas.textEditor">
					<div class="custom-item-title">Schriftgröße</div>
					<div class="custom-item-body">
					<input type="range" [(ngModel)]="canvas.props.fontSize" (change)="setFontSize()" step="1" min="1" max="120">{{canvas.props.fontSize}}</div>
				</div>
				</div>
			</div>
		</div>
	  <div class="col-xl-6">
		  <div class="row">
			  <div class="col-md-6">
				<div class="card">
					<div class="card-header">Optionen</div>
					<div class="card-body text-center">
						<div class="btn-group" role="group" aria-label="...">
							<button data-toggle="tooltip" data-placement="bottom" title="Delete element" type="button" class="btn btn-outline-danger" [disabled]="!canvas.selected"
								(click)="removeSelected();">
								<i class="fa fa-trash" aria-hidden="true"></i>
							</button>
							<button data-toggle="tooltip" data-placement="bottom" title="Send to back" type="button" class="btn btn-outline-primary" [disabled]="!canvas.selected"
								(click)="sendToBack();">
								<i class="fa fa-level-down" aria-hidden="true"></i>
							</button>
							<button data-toggle="tooltip" data-placement="bottom" title="Send to front" type="button" class="btn btn-outline-primary" [disabled]="!canvas.selected"
								(click)="bringToFront();">
								<i class="fa fa-level-up" aria-hidden="true"></i>
							</button>
							<button data-toggle="tooltip" data-placement="bottom" title="Unselect" type="button" class="btn btn-outline-primary" [disabled]="!canvas.selected"
								(click)="cleanSelect()">
								<i class="fa fa-remove" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="card mt-3">
					<div class="card-header">Format</div>
					<div class="card-body overflow-hidden">
						<div class="form-group">
							<div class="input-group">
								<input type="text" class="form-control" [(ngModel)]="canvas.size.width" (keyup)="changeSize()">
								<div class="input-group-append">
									<span class="input-group-text">
										Breite
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group mb-3">
								<input type="text" class="form-control" [(ngModel)]="canvas.size.height" (keyup)="changeSize()">
								<div class="input-group-append">
									<span class="input-group-text">
										Höhe
									</span>
								</div>
							</div>
						</div>
						<div class="custom-item">
							<div class="custom-item-title">Hintergrundbild hochladen</div>
							<div class="custom-item-body">
								<img id="testImage" *ngIf="canvas.bgImageUrl" class="images-item-upload" [src]="canvas.bgImageUrl">
								<input type="file" (change)="readBGUrl($event);" >
							</div>
						</div>
						<div class="custom-item mt-3">
							<div class="custom-item-title">Hintergrund Größe</div>
							<div class="custom-item-body">
								<input type="range" class="form-control-range" id="formControlRange" [(ngModel)]="canvas.bgImageScale" (change)="scaleBGImage()">
							</div>
						</div>
					</div>
				</div>
				<div class="card mt-3">
					<div class="card-header">Neues Textfeld</div>
					<div class="card-body">
				<input type="text" class="form-control mt-3" [(ngModel)]="canvas.textString">
						<div class="custom-item mt-3">
							<div class="custom-item-title">Überschrift</div>
							<div class="custom-item-body">
								<p>Text zeilenweise eingeben</p>
					<button id="add-text" data-toggle="tooltip" data-placement="bottom" title="Add text" class="btn btn-primary mt-1" (click)="addTextTitle()">
					<i class="fa fa-plus" aria-hidden="true"></i>
					</button>
							</div>
						</div>
						<div class="custom-item mt-3">
							<div class="custom-item-title">Unterüberschrift</div>
							<div class="custom-item-body">
					<button id="add-text" data-toggle="tooltip" data-placement="bottom" title="Add text" class="btn btn-primary" (click)="addTextSubtitle()">
					<i class="fa fa-plus" aria-hidden="true"></i>
					</button>
							</div>
				</div>
				<div class="custom-item mt-3">
							<div class="custom-item-title">Text ohne Formattierung</div>
							<div class="custom-item-body">
					<button id="add-text" data-toggle="tooltip" data-placement="bottom" title="Add text" class="btn btn-primary" (click)="addText()">
					<i class="fa fa-plus" aria-hidden="true"></i>
					</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Grüner Balken</div>
					<div class="card-body">
						<div class="custom-item">
							<div class="custom-item-title">Balken unten</div>
							<div class="custom-item-body">
								<input type="number" class="form-control" placeholder="Höhe in %" [(ngModel)]="canvas.bottomBarHeight" (keyup)="setBottomBar()">
							</div>
						</div>
						<div class="custom-item mt-3">
							<div class="custom-item-title">Balken oben</div>
							<div class="custom-item-body">
								<input type="number" class="form-control" placeholder="Höhe in %" [(ngModel)]="canvas.topBarHeight" (keyup)="setTopBar()">
							</div>
						</div>
					</div>
				</div>
				<div class="card mt-3">
					<div class="card-header">Logos & Bilder</div>
					<div class="card-body max-height" style="background-color: #e6e6e6;">
						<img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJ_gruen.png">
						<img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJBB_gruen.png">
						<img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJ_schwarz.png">
						<img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJBB_schwarz.png">
						<img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJ_weiss.png">
						<img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJBB_weiss.png">
						<img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJ_gruen.png">
						<img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJBB_gruen.png">
						<img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJ_schwarz.png">
						<img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJBB_schwarz.png">
						<img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJ_weiss.png">
						<img class="images-item" (click)="addImageOnCanvas($event)" src="../assets/img/logos/GJBB_weiss.png">

					</div>
				</div>
				<div class="card mt-3">
					<div class="card-header">Eigene Bilder hochladen</div>
					<div class="card-body text-center">
						<img id="testImage" *ngIf="canvas.url" class="images-item-upload" [src]="canvas.url" (click)="addImageOnCanvas(canvas.url);">
						<input type="file" (change)="readUrl($event);">
						<div class="btn-group btn-group-justified mt-5" role="group" aria-label="...">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-outline-danger btn-sm" (click)="removeWhite(canvas.url);">
									<i class="fa fa-times" aria-hidden="true"></i> Löschen</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="helpModalLabel">Hilfe benötigt?</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <b>Formatübersicht</b>
		  <ul>
			  <li>Instagram Post: 1080 x 1080</li>
			  <li>Instagram Stoy: 1080 x 1920</li>
		  </ul>
		  <b>Funktionen</b>
		  <ul>
			  <li>Objekt in den Vorder/Hintergrund verschieben: Unter Optionen den entsprechenden Pfeil drücken</li>
			  <li>Text anpassen: Geht nur bei Text ohne Formattierung. Dann im Menü unter dem Bild den Text anpassen oder Teile des Texts markieren und bearbeiten</li>
			  <li>Schrift mit Hintergrund: Über- / Unterüberschrift auswählen</li>
			  <li>Hintergrundbild anpassen: Hintergrundbild hochladen, das kann dann durch draufklicken und ziehen verschoben werden. Zum Ändern der Größe des Bildes den Schieber benutzen</li>
		  </ul>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
		</div>
	  </div>
	</div>
  </div>
