<div class="container mt-5 mb-5">
	<app-header [canvas]=canvas></app-header>
	<div class="row">
		<div id="canvasWrapper" class="col-xl-6">
			<angular-editor-fabric-js #canvas></angular-editor-fabric-js>
			<app-custom-editor [canvas]=canvas></app-custom-editor>
		</div>
		<div class="col-xl-6">
			<div class="row">
				<div class="col-md-6">
					<app-options [canvas]=canvas></app-options>
					<app-format [canvas]=canvas></app-format>
					<app-add-text [canvas]=canvas></app-add-text>
				</div>
				<div class="col-md-6">
					<app-add-bars [canvas]=canvas></app-add-bars>
					<app-add-logos [canvas]=canvas></app-add-logos>
					<app-upload-images [canvas]=canvas></app-upload-images>
				</div>
			</div>
		</div>
	</div>
</div>
<app-modal></app-modal>