<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="helpModalLabel">Hilfe benötigt?</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <b>Neu!</b>
		  <ul>
			  <li>Mehrzeiliger Text</li>
			  <li>Objekte mit Pfeiltasten bewegen</li>
			  <li>Hintergrund skalierung funktioniert ;)</li>
		  </ul>
		  <b>Formatübersicht</b>
		  <ul>
			  <li>Instagram Post: 1080 x 1080</li>
			  <li>Instagram Stoy: 1080 x 1920</li>
		  </ul>
		  <b>Funktionen</b>
		  <ul>
			  <li>In dem Hauptfenster können Objekte verschoben und skaliert oder gedreht werden</li>
			  <li>Objekt in den Vorder/Hintergrund verschieben: Unter Optionen den entsprechenden Pfeil drücken</li>
			  <li>Text anpassen: Geht nur bei Text ohne Formattierung. Dann im Menü unter dem Bild den Text anpassen oder Teile des Texts markieren und bearbeiten</li>
			  <li>Schrift mit Hintergrund: Über- / Unterüberschrift auswählen.</li>
			  <li>Hintergrundbild anpassen: Hintergrundbild hochladen, das kann dann durch draufklicken und ziehen verschoben werden. Zum Ändern der Größe des Bildes den Schieber benutzen</li>
			  <li>Grünen Balken einfügen: Einfach die Höhe in Prozent des Gesamtbildes im Menü angeben</li>
			  <li>Objekte können mit den Pfeiltasten verschoben werden, um genauer zu navigieren</li>
			</ul>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
		</div>
	  </div>
	</div>
</div>